<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PnP_Organizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PnP_Organizer.Properties.Settings>
            <setting name="LastLoadedCharacter" serializeAs="String">
                <value />
            </setting>
            <setting name="Localization" serializeAs="String">
                <value />
            </setting>
            <setting name="LogCalculations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxLogFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PromptLoadLastCharacter" serializeAs="String">
                <value>False</value>
            </setting>
        </PnP_Organizer.Properties.Settings>
    </userSettings>
</configuration>